* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Greycliff CF";
}

nav {
  position: fixed;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

nav p {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}


.loader-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.loader-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.overlay-content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #0f0f0f;
  color: #fff;
  display: flex;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.overlay-col {
  width: 50%;
  padding: 1em;
}

.overlay-col h2 {
  margin: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

.overlay-col:nth-child(2) h2 {
  font-size: 24px;
  text-align: right;
  color: gray;
}

.overlay-col:nth-child(2) h2 span {
  color: #fff;
}